.john-doe-section {
  background-color: #EEEEEE;
  max-width: 140rem;
  margin: 0 auto;
  .john-doe-main {
    display: flex;
    align-items: flex-start;

    .john-doe-red {
      background-color: $primary-bg-color;

      .john-hr {
        margin-bottom: 1.58rem;
      }

      .john-hr-2 {
        margin-bottom: 1.9rem;
      }

      .icon-box {
        width: 4.3rem;
        height: 4.5rem;
        border: $arrow-border;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .colors {

    .bg-color-grey {
      background-color: $primary-grey-color;
    }

    .bg-color-black {
      background-color: $primary-black-color;
    }
  }
}

.dissapear:hover {
  stroke: red;
  cursor: pointer;
}

.hover-black:hover {
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(0) contrast(115%);
  cursor: pointer;
}