@media (min-width: 1399px) {
  .exhibition {
    background-color: black;
    max-width: 140rem;
    margin: 0 auto;

    .main-flex {
      display: flex;
      align-items: center;
      gap: 5rem;
      justify-content: space-between;
      max-width: 127rem;
      padding: 5.6rem 0rem 7rem 23rem;
    }

    .wrap-ex {
      display: flex;
      gap: 24rem;
    }

    .overwiev-galery-exhibiton {
      @include primaryFont(1.4rem, 400, #fff);
    }

    .exhibition-text {
      display: flex;
      gap: 0.8rem;

      .exhibition-exhibition {
        @include primaryFont(1.8rem, 700, #fff);
        margin-top: 0.5rem;
        letter-spacing: -0.05rem;
      }

      .exhibition-e-wraper {
        width: 4.486rem;
        height: 4.486rem;
        background-color: transparent;
        border: 0.3rem solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        .john-doe-e {
          @include primaryFont(3.221rem, 700, #fff);
        }
      }
    }
  }
}
