@media (max-width: 767px) {
  .section-map {
    iframe {
      height: 40rem !important;
    }
    .map-main {
      position: relative;
    }

    .map-red {
      padding: 3.8rem 2rem 0 1.5rem;
      max-width: 27rem;
      background-color: #ed1c24;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 7.5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .venue-map {
        @include primaryFont(2.4rem, 700, #fff);
        text-align: center;
        margin-bottom: 2.6rem;
      }

      .london-works {
        @include secondaryFont(1.4rem, 300, #fff);
        text-align: center;
        max-width: 23.9rem;
        padding: 0 3.6rem;
        line-height: 125%;
        margin-bottom: 1.2rem;
      }

      .map-transparent {
        width: 4.25rem;
        height: 4.25rem;
        border-radius: 50%;
        background-color: #fff;
        margin-bottom: 3rem;
      }

      .horizontal-map-line {
        width: 100%;
        margin-bottom: 2.8rem;
      }

      .map-directions {
        @include primaryFont(1.2rem, 400, #fff);
        margin-bottom: 2.3rem;
      }

      .map-icons {
        display: flex;
        align-items: center;

        .icon-map {
          border: 1px solid #fff;
          width: 4.51rem;
          height: 4.41rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
